%h1 HELLO CHUCK

= form_tag({:controller => "facts", :action => "search"}, :remote => true)
.form-group
  = text_field_tag :text, "", class: 'search'
  = select_tag 'category', options_for_select(@categories), :include_blank => "random"
  = submit_tag 'Search', class: 'btn btn-primary'

.facts

